@import './../Common/Styles/Sass/variabless';
@import './../Common/Styles/Sass/mixins';

.header {
    @include flex(row, center, center, wrap);
    height: 80px;
    background-color: $bgColor;
    width: 100%;
    //display: flex;
    //justify-content: flex-end;
    //align-items: center;
}