@import './../Common/Styles/Sass/variabless';

.mainBlock {
  height: 80vh;
  background-color: $bgColor;

  .skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  .formContainer {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .button {
        button {
            margin: 30px;
            background-color: $primaryColor;
            padding: 10px 20px;
            position: relative;
            z-index: 1;
            color: $textColor;
        }
    }
  }
}



