@import '../../Styles/Sass/variabless';


.title {
  margin-bottom: 30px;
  position: relative;

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    margin: 0;
    font-weight: 300;
    color: $textColor;
    text-transform: capitalize;
    line-height: 1.2;

  }

  &::before {
    content: "";
    background:$primaryColor;
    width: 55px;
    height: 1px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}



