@import '../Common/Styles/Sass/variabless';
@import '../Common/Styles/Sass/mixins';


.projectsBlock {
  padding: 100px 0;
  background-color: $bgColor;

  .projectsContainer {
    @include container();
    @include flex(column, flex-start, center, wrap);


    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: flex-start;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}