.worksBlock {
    height: 80vh;
    background-color: #d0a3f3;
}

.worksContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #24a5ff;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

