@import './../Common/Styles/Sass/variabless';
@import './../Common/Styles/Sass/mixins';

.skillsBlock {
    padding: 100px 0;
    background-color: $bgSecondColor;

    .container {
        @include flex(column, flex-start, center, wrap);
        @include container();

    }
    .skills {
        margin-top: 30px;
        @include flex(row, space-between, center, wrap);
        width: 80%;
    }

}

