.mainBlock {
    height: 100vh;
    background-color: #ffb9e0;
}

.greet {
    width: 300px;
    background-color: #d6e4ff;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #d6e4ff;
}