@import './../Common/Styles/Sass/mixins';


.nav {
  @include container();
  @include flex(row, space-between, center, nowrap);

  a {
    @include text($textFontFamily, 14px, 1.8);
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $primaryColor
    }
  }

  .active {
    color: $primaryColor
  }
}