.mainBlock {
    height: 50vh;
    background-color: #adffa3;
}

.footerContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.block {
    border: 2px solid;
    height: 50px;
    width: 50%;
    margin: 50px;

}


.blockContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blockItem {
    background-color: #24a5ff;
    height: 50px;
    width: 15%;
}